.header__logo {
	padding: 45px 0 41px;
}

@media screen and (max-width: 940px) {
	.header__logo {
		padding: 45px 0 41px 27px;
	}
}

@media screen and (max-width: 320px) {
	.header__logo {
		padding: 28px 0 31px 27px;
	}
}