.profile__button {
	border: 2px solid rgba(255, 255, 255, 1);
	background-color: #000;
	max-width: 100%;
    max-height: 50px;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    padding: 0;
}

.profile__button:hover {
	opacity: .6;
}